header {
    background-color: #ffffff;
    height: 200px;

    #logo.img {
        width: 10%;
        height: 5%;
    }

    .upper-header {
        height: 50%;
        border-color: brown;
        background-color: chartreuse;
    }

    .lower-header {
        height: 50%;
        background-color: #ff385c;
    }

    .searchbar {
        width: 500px;
        height: 50px;
        background-color: #ff385c;
        border-radius: 30px;
    }
}
